<div class="post" id="post-<%= post.id %>" >
  <div class="post-header">
    <h5 class="post-title"><%= post.title %></h5>
    <div class="post-actions">
      <%= link_to 'Edit', edit_post_path(post), remote: true %>
      <%= link_to 'Destroy', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :data => { :'bs-toggle' => 'modal',  :'bs-target' => '#staticBackdrop'} %>
    </div>
  </div>
  <div class="post-content">
    <p><%= post.content %></p>
    <small class="post-date"><%= post.updated_at %></small>
  </div>
</div>
