<%= form_with(model: post, local: false) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column form-group form-control-md">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-text text-dark fs-6", autocomplete: 'off' %>
  </div>

  <div class="d-flex flex-column form-group form-control-md">
    <%= form.label :content %>
    <%= form.text_area :content, class: "text-area form-text text-dark fs-6" %>
  </div>

  <div class="actions">
    <%= form.submit data: { disable_with: 'Submiting...' }, class: "btn btn-primary mt-1" %>
  </div>
<% end %>


